.footer {
    width: 100%;
    background-color: #000;
    color: #eee;
    padding: 3rem 1rem;
}

.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.bottom {
    text-align: center;
    padding-top: 3rem;
}

.bottom .line {
    margin-top: 1rem;
}
.bottom button{
    background: red;
    margin-left: 10px;
    padding: 4px;
    border-radius: 2px;
    font-size: small;
}
.bottom p{
    font-weight: bold;
    font-size: small;
    padding-bottom: 15px;
}




